.tag-color-aboutUs {
	color: #09b44d !important;
	letter-spacing: 5px !important;
}

.tag-color-black {
	letter-spacing: 3px !important;
}
.we-promise-tag {
	background-color: #09b44d !important;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
}
.we-promise-text {
	color: white;
	text-align: center;
	letter-spacing: 5px !important;
}

.general-text-spacing {
	letter-spacing: 2px;
}
